{% extends 'base.html.twig' %}

{% block body %}

    <div class="login">

        <div class="login-modal">

            <form method="post">

                <a href="{{ path('backend_login') }}" class="login-modal-logo">
                    <img src="{{ asset('build/'~env.THEME_LOGO) }}" alt="">
                </a>

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Sie sind angemeldet als {{ app.user.userIdentifier }}, <a href="{{ path('backend_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <button class="button primary" type="submit">
                    Anmelden
                </button>

            </form>

        </div>

    </div>

{% endblock %}
